{% include 'navbar.html' %}
<div style="font-size: larger; text-align: center;">
  <strong><h1>Checkout</h1></strong>
</div>
<form method="post" action="{% url 'checkout' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>
        <div class="relative min-h-screen flex items-center justify-center bg-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
        style="background-image: url(https://images.unsplash.com/photo-1532423622396-10a3f979251a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80);">
        <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
        <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
        <div class="grid  gap-8 grid-cols-1">
        <div class="flex flex-col ">
            <div class="flex flex-col sm:flex-row items-center">
              <h2 class="font-semibold text-lg mr-auto">Senders Info</h2>
              <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
            </div>
            <div class="mt-5">
              <div class="form">
                <div class="md:space-y-2 mb-3">
                  <div class="flex items-center py-6">
                      <label class="cursor-pointer ">
                        <span class="focus:outline-none text-white text-sm py-2 px-4 rounded-full bg-green-400 hover:bg-green-500 hover:shadow-lg">Browse</span>
                        <input type="file" class="hidden" :multiple="multiple" :accept="accept">
                      </label>
                    </div>
                  </div>
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="sender_name" class="font-semibold text-gray-600 py-2">Name <abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Name" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.sender_name.id_for_label }}" name="{{ form.sender_name.name }}" value="{{ form.sender_name.initial|default:'' }}" required>
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="sender_company" class="font-semibold text-gray-600 py-2">Company<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Company" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.sender_company.id_for_label }}" name="{{ form.sender_company.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="sender_pickup_country" class="font-semibold text-gray-600 py-2">Country <abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Select Country" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.sender_pickup_country.id_for_label }}" name="{{ form.sender_pickup_country.name }}" value="{{ pickup_country }}" readonly>
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="sender_address" class="font-semibold text-gray-600 py-2">Address<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="1234 Main St" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.sender_address.id_for_label }}" name="{{ form.sender_address.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="sender_address2" class="font-semibold text-gray-600 py-2">Address 2 <abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Apartment or suite" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.sender_address2.id_for_label }}" name="{{ form.sender_address2.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="sender_address3" class="font-semibold text-gray-600 py-2">Address 3<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Address 3" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.sender_address3.id_for_label }}" name="{{ form.sender_address3.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="sender_state" class="font-semibold text-gray-600 py-2">State<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="State" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.sender_state.id_for_label }}" name="{{ form.sender_state.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="sender_city" class="font-semibold text-gray-600 py-2">City<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="City" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.sender_city.id_for_label }}" name="{{ form.sender_city.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="sender_pickup_zip" class="font-semibold text-gray-600 py-2">Postal Code<abbr title="required">*</abbr></label>
                      <input type="number" placeholder="123456" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.sender_pickup_zip.id_for_label }}" name="{{ form.sender_pickup_zip.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="mb-3 space-y-2 w-full text-xs">
                    <label for="sender_email" class=" font-semibold text-gray-600 py-2">Email</label>
                    <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                      <div class="flex">
                        <span class="flex items-center leading-normal bg-grey-lighter border-1 rounded-r-none border border-r-0 border-blue-300 px-3 whitespace-no-wrap text-grey-dark text-sm w-12 h-10 bg-blue-300 justify-center items-center  text-xl rounded-lg text-white">
                                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                          </svg>
                                        </span>
                      </div>
                      <input type="email" class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border border-l-0 h-10 border-grey-light rounded-lg rounded-l-none px-3 relative focus:border-blue focus:shadow" placeholder="{{ user.email }}" id="{{ form.sender_email.id_for_label }}" name="{{ form.sender_email.name }}">
                        </div>
                    </div>
                    <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                      <div class="mb-3 space-y-2 w-full text-xs">
                        <label for="sender_phone_type" class="font-semibold text-gray-600 py-2">Phone Type<abbr title="required">*</abbr></label>
                        <select class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full " id="{{ form.sender_phone_type.id_for_label }}" name="{{ form.sender_phone_type.name }}">
                          <option value="Office">Office</option>
                          <option value="Personal">Personal</option>
                          <option value="Home">Home</option>
                          <option value="Fax">Fax</option>
                          <option value="Other">Other</option>
                        </select>
                        <p class="text-red text-xs hidden">Please fill out this field.</p>
                      </div>
                      <div class="mb-3 space-y-2 w-full text-xs">
                        <label for="sender_phone_code" class="font-semibold text-gray-600 py-2">Country Code<abbr title="required">*</abbr></label>
                        <input type="number" placeholder="+44 " class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-2/3" id="{{ form.sender_phone_code.id_for_label }}" name="{{ form.sender_phone_code.name }}">
                        <p class="text-red text-xs hidden">Please fill out this field.</p>
                      </div>
                      
                      <div class="mb-3 space-y-2 w-full text-xs">
                        <label for="sender_phone_number" class="font-semibold text-gray-600 py-2">Phone Number<abbr title="required">*</abbr></label>
                        <input type="number" placeholder="(645) 546-6445" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-1/3" id="{{ form.sender_phone_number.id_for_label }}" name="{{ form.sender_phone_number.name }}">
                        <p class="text-red text-xs hidden">Please fill out this field.</p>
                      </div>
                    </div> 
                    <div>
                      <h3>Shipment Information</h3>
                      <label for="{{ form.create_shipment.id_for_label }}">Create Shipment:</label>
                      {{ form.create_shipment }}
                    </div>
                    <div>
                      <label for="{{ form.pay.id_for_label }}">Pay:</label>
                      {{ form.pay }}
                    </div>
                    <div>
                      <label for="{{ form.print.id_for_label }}">Print:</label>
                      {{ form.print }}
                    </div>    
                  </div>
                </div>
              </div>
            </div>
        </div>
      </td>
      <td>
        <div class="relative min-h-screen flex items-center justify-center bg-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
        style="background-image: url(https://images.unsplash.com/photo-1532423622396-10a3f979251a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80);">
        <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
        <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-lg z-10">
        <div class="grid  gap-8 grid-cols-1">
        <div class="flex flex-col ">
            <div class="flex flex-col sm:flex-row items-center">
              <h2 class="font-semibold text-lg mr-auto">Receiver Info</h2>
              <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
            </div>
            <div class="mt-5">
              <div class="form">
                <div class="md:space-y-2 mb-3">
                  <div class="flex items-center py-6">
                      <label class="cursor-pointer ">
                        <span class="focus:outline-none text-white text-sm py-2 px-4 rounded-full bg-green-400 hover:bg-green-500 hover:shadow-lg">Browse</span>
                        <input type="file" class="hidden" :multiple="multiple" :accept="accept">
                      </label>
                    </div>
                  </div>
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="receiver_name" class="font-semibold text-gray-600 py-2">Name <abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Name" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.receiver_name.id_for_label }}" name="{{ form.receiver_name.name }}" value="{{ form.receiver_name.initial|default:'' }}" required>
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="receiver_company" class="font-semibold text-gray-600 py-2">Company<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Company" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.receiver_company.id_for_label }}" name="{{ form.receiver_company.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="receiver_delivery_country" class="font-semibold text-gray-600 py-2">Country <abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Select Country" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.receiver_delivery_country.id_for_label }}" name="{{ form.pickup_country.name }}" value="{{ delivery_country }}" readonly>
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="receiver_address" class="font-semibold text-gray-600 py-2">Address<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="1234 Main St" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.receiver_address.id_for_label }}" name="{{ form.receiver_address.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="receiver_address2" class="font-semibold text-gray-600 py-2">Address 2 <abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Apartment or suite" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.receiver_address2.id_for_label }}" name="{{ form.receiver_address2.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="receiver_address3" class="font-semibold text-gray-600 py-2">Address 3<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="Address 3" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.receiver_address3.id_for_label }}" name="{{ form.receiver_address3.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="receiver_state" class="font-semibold text-gray-600 py-2">State<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="State" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.receiver_state.id_for_label }}" name="{{ form.receiver_state.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="receiver_city" class="font-semibold text-gray-600 py-2">City<abbr title="required">*</abbr></label>
                      <input type="text" placeholder="City" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.receiver_city.id_for_label }}" name="{{ form.receiver_city.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="receiver_delivery_zip" class="font-semibold text-gray-600 py-2">Postal Code<abbr title="required">*</abbr></label>
                      <input type="number" placeholder="123456" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" id="{{ form.receiver_delivery_zip.id_for_label }}" name="{{ form.receiver_delivery_zip.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="mb-3 space-y-2 w-full text-xs">
                    <label for="receiver_email" class=" font-semibold text-gray-600 py-2">Email</label>
                    <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                      <div class="flex">
                        <span class="flex items-center leading-normal bg-grey-lighter border-1 rounded-r-none border border-r-0 border-blue-300 px-3 whitespace-no-wrap text-grey-dark text-sm w-12 h-10 bg-blue-300 justify-center items-center  text-xl rounded-lg text-white">
                                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                          </svg>
                                        </span>
                      </div>
                      <input type="email" class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border border-l-0 h-10 border-grey-light rounded-lg rounded-l-none px-3 relative focus:border-blue focus:shadow" placeholder="jeff@example.com" id="{{ form.receiver_email.id_for_label }}" name="{{ form.receiver_email.name }}">
                        </div>
                    </div>
                    <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                      <div class="mb-3 space-y-2 w-full text-xs">
                        <label for="receiver_phone_type" class="font-semibold text-gray-600 py-2">Phone Type<abbr title="required">*</abbr></label>
                        <select class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full " id="{{ form.receiver_phone_type.id_for_label }}" name="{{ form.receiver_phone_type.name }}">
                          <option value="Office">Office</option>
                          <option value="Personal">Personal</option>
                          <option value="Home">Home</option>
                          <option value="Fax">Fax</option>
                          <option value="Other">Other</option>
                        </select>
                        <p class="text-red text-xs hidden">Please fill out this field.</p>
                      </div>
                      <div class="mb-3 space-y-2 w-full text-xs">
                        <label for="receiver_phone_code" class="font-semibold text-gray-600 py-2">Country Code<abbr title="required">*</abbr></label>
                        <input type="number" placeholder="+44 " class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-2/3" id="{{ form.receiver_phone_code.id_for_label }}" name="{{ form.receiver_phone_code.name }}">
                        <p class="text-red text-xs hidden">Please fill out this field.</p>
                      </div>
                      
                      <div class="mb-3 space-y-2 w-full text-xs">
                        <label for="receiver_phone_number" class="font-semibold text-gray-600 py-2">Phone Number<abbr title="required">*</abbr></label>
                        <input type="number" placeholder="(645) 546-6445" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-1/3" id="{{ form.receiver_phone_number.id_for_label }}" name="{{ form.receiver_phone_number.name }}">
                        <p class="text-red text-xs hidden">Please fill out this field.</p>
                      </div>
                    </div>     
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label for="vat_tax_id" class="font-semibold text-gray-600 py-2">VAT/Tax ID:<abbr title="required">*</abbr></label>
                      <input type="number" placeholder="12345678912" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-1/3" id="{{ form.vat_tax_id.id_for_label }}" name="{{ form.vat_tax_id.name }}">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                    <button type="submit">Submit</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </td>
    </tr>
  </table>
</form>
{% include 'footer.html' %}
